@model IEnumerable<GerenciadorCarros.API.Models.Carro>

@{
    ViewData["Title"] = "Venda de carros";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Cadastrar novo modelo no sistema</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Modelo
            </th>
            <th>
                Ano
            </th>
            <th>
                Estado
            </th>
            <th>
                Ações do sistema
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                    @if(!item.Usado)
                    {
@*                    @Html.DisplayFor(modelItem => item.Usado)*@
                        <span class="badge bg-success">Novo</span>
                    }
                    else
                    {
                        <span class="badge bg-info text-dark">Usado</span>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar informações</a> |
                <a class="btn-deleteCar" asp-action="Details" asp-route-id="@item.Id">Datelhes do veículo</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar veículo</a>
            </td>
        </tr>
}
    </tbody>
</table>
